.App-header {
  display: flex;
  flex-direction: column;
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  margin: auto;
  background-image: url('/mountains.jpg');
  background-size: cover;
  color: #f8f8ff !important;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.App-footer {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  text-align: center;
  color:#f8f8ff !important;
}

.navbar-brand{
  color: #4064c7 !important;
}

.jumbotron {
  background-color: #333333 !important;
  border-radius: 24px !important;
}

.nav-link{
  color: #f8f8ff !important;
}

.head-shot {
  padding-bottom: 20px;
  padding-top: 20px;
}

.display-icon {
  padding-left: 5px;
  padding-right: 5px;
}

.icon-link {
  color: black !important;
}

.title{
  color: #4064c7 !important;
}

.form-control{
  margin-bottom: 20px;
}

.contact-button{
  margin-top: 20px;
}

.resume-list{
  text-align: left;
}

.subtitle-list{
  padding-top: 40px;
  padding-bottom: 40px;
}
.subtitle-left {
  float: left
}

.subtitle-right {
  float: right;
}
